<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>
    <div class="container">
      <% var url = "/videogames/" + videogame.id + "?_method=PUT" %>
      <form method="POST" action=<%= url %> >
        <input required name="title" value=<%= videogame.title %> />
        <a href="/videogames" class="btn red">Cancel</a>
        <button class="btn">Save</button>
     </form>
   </div>
  </body>
</html>
